/*box-sizing*/
*,
*::before,
*after{
    box-sizing: border-box;
}

/* remove default margin*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd{
    margin: 0;
}

/*remove list styles */
ul[role=list],
ol[role=list]{
    list-style: none;
}
html:focus-within{
    scroll-behavior: smooth;
}

/*set core body default*/
body{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

}
/*a element thet don't have a class get default styles */
a:not([class]){
    text-decoration-skip-ink: auto;
}
img,picture{
    max-width: 100%;
    display: block;
}

/* inherent fonts for input and buttons*/
input,
button,
textarea,
select{
    font: inherit;
}
/* remove all animation ...*/
@media(prefers-reduced-motions){
    html:focus-within{
        scroll-behavior: auto;
    }
}
*,
*::before,
*::after{
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.1ms !important;
    scroll-behavior: auto !important;
}

:root{
    --gray-200:hsl(252,11%,91%);
    --gray-400:hsl(251,9%,53%);
    --gray-700:hsl(247,15%,53%);
    --gray-800:hsl(248,15%,11%);
    --gray-900:hsl(252,17%,6%);
    --green:hsl(127,100%,82%);
    --orange:hsl(42,91%,68%);
    --red: hsl(0,91%,63%);
    --spacing-xs: clamp(0.875rem,0.5rem +2vw,1.25rem);
    --spacing-sm: clamp(0.875rem,0.5rem +2vw,1.5rem);
    --spacing-md: clamp(1rem,0.5rem +3vw,2rem);
    
}